<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lean.mapper.TesterMapper">
    <select id="getTester"  resultType="com.lean.bean.Tester" parameterType="Long">
        select * from test where id = #{id}
    </select>
</mapper>